<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Data.Protection" version="1.4.0" targetFramework="net472" />
  <package id="Carbon.Packaging" version="1.48.0" targetFramework="net472" />
  <package id="Carbon.Storage" version="3.0.0" targetFramework="net472" />
  <package id="Carbon.VersionControl" version="2.4.0" targetFramework="net472" />
  <package id="Carbon.Versioning" version="1.9.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Octokit" version="0.48.0" targetFramework="net472" />
  <package id="RestSharp" version="106.11.7" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="2.0.2" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.113.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.5" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>